.gradle/

# This contains all the build files produced by GWT and App Engine
build/

# These are the output directory used by Eclipse and `gradlew build`
war/
bin/

# Eclipse stuff, these can be generated using `gradlew eclipse`
.settings/
.project
.classpath