.root {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.title {
    font-size: 2em;
    text-align: center;
}

.scroll-parent {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.loader {
    align-self: center;
    flex: 1 1 auto;
}
